// 主题色
$primaryColor: #3fce78;
// $primaryColor: #f1f1f0;
// 主题色加深
$deeperPrimaryColor: #33b366;
// 重要字体颜色
$importantTextColor: #333;
// 主要字体颜色
$primaryTextColor: #666;
// 次要字体颜色
$descTextColor: #999;
// 非必要字体颜色
$unnecessaryTextColor: #ccc;
// 边框颜色
$primaryBorderColor: #f2f2f2;